@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
}

.debug {
    border: 1px solid red;
}
